window {
    background-color: rgba(30, 30, 46, 0.95);
    color: #cdd6f4;
}

button {
    background-image: none;
    background-color: #313244;
    box-shadow: none;
    border-color: #45475a;
    color: #cdd6f4;
}

button:hover {
    background-image: none;
    background-color: #45475a;
    box-shadow: none;
    border-color: transparent;
}

button:hover>image {
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}

.highlighted-button {
    background-image: none;
    box-shadow: none;
    background-color: rgba(137, 180, 250, 0.3);
}

.highlighted-button>image, .highlighted-button:hover>image {
    -gtk-icon-effect: highlight;
}
